# Example environment variables for local development. Contact the author for the actual .env file with sensitive information. This file should be renamed to .env and populated with the correct values before running the application locally.

DB_PORT=5432
API_BASE_URL="http://localhost:4000"


# Postgres container config (required)
POSTGRES_USER=devcentral_user
POSTGRES_PASSWORD=devcentral_pass
POSTGRES_DB=devcentral_db

DATABASE_URL=${DATABASE_URL}

TCP_DATABASE_URL= ${TCP_DATABASE_URL}

SHADOW_DATABASE_URL=${SHADOW_DATABASE_URL}

DIRECT_DATABASE_URL=${DIRECT_DATABASE_URL}

GITHUB_TOKEN=${GITHUB_TOKEN}

GITHUB_USERNAME=${GITHUB_USERNAME}

SONAR_TOKEN=${SONAR_TOKEN}

SONAR_API=${SONAR_API}

JWT_SECRET=${JWT_SECRET}

NEON_DATABASE_URL=${NEON_DATABASE_URL}

RENDER_URL=${RENDER_URL}
RENDER_API_KEY=${RENDER_API_KEY}

VERCEL_URL=${VERCEL_URL}
VERCEL_API_KEY=${VERCEL_API_KEY}

RESEND_API_KEY=${RESEND_API_KEY}
BREVO_API_KEY=${BREVO_API_KEY}
EMAIL_FROM=${EMAIL_FROM}

GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}

